body {
    background-color: #c9d6ff;/*background-repeat: no-repeat background-position: center center*/
    background: url('img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.hero {
    text-align: left;
    color: white;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    font-size: 20px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #28a745;
}

.text {
    margin-left: 200px;
    max-width: 600px;
}

.text h1 {
    font-size: 60px;
    margin: 10px 0;
}

.text h4 {
    font-size: 30px;
    margin: 10px 0;
}

.text p {
    font-size: 20px;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}
